
    {{>header}}
    <main>
        <p>This site was created by Marc. It uses data from mapbox.com and darksky.net!</p>
        <p><img class="portrait" src="/img/robot.png" alt=""></p>
    </main>
    
    </div>
    {{>footer}}
