
    {{>header}}
    <main>
        <p>Use this site to get your city weather!</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </main>
    </div>
    {{>footer}}
